@if (selectedGroup()) {
  <h2>Administrar grupo {{selectedGroupCode()}}</h2>

  @if (isAdmin()) {
    <form [formGroup]="groupForm" (ngSubmit)="saveGroup()">
      <h3>Información del grupo</h3>

      <mat-form-field>
        <mat-label>Nombre del grupo</mat-label>
        <input matInput type="text" formControlName="group_name" />
      </mat-form-field>
      @if (groupForm.get('group_name')?.touched && groupForm.get('group_name')?.invalid) {
        @if (groupForm.get('group_name')?.errors?.['required']) {
          <small style="color:red">El nombre es obligatorio.</small>
        }
        @if (groupForm.get('group_name')?.errors?.['minlength']) {
          <small style="color:red">El nombre debe tener al menos 3 caracteres.</small>
        }
        @if (groupForm.get('group_name')?.errors?.['maxlength']) {
          <small style="color:red">El nombre no puede tener más de 100 caracteres.</small>
        }
      }

      <mat-form-field>
        <mat-label>Descripción del grupo</mat-label>
        <input matInput type="text" formControlName="group_description" />
      </mat-form-field>

      <p>Código: {{ selectedGroup()?.group_code }}</p>
      <p>Fecha de creación: {{ selectedGroup()?.creation_date }}</p>

      <button mat-button type="submit" [disabled]="groupForm.invalid">Guardar cambios</button>
    </form>
    <button mat-button type="button" (click)="deleteGroup()">Eliminar grupo</button>
  } @else {
    <h3>Información del grupo</h3>
    <p>{{ selectedGroup()?.group_name }}</p>
    <p>{{ selectedGroup()?.group_description }}</p>
    <p>{{ selectedGroup()?.group_code }}</p>
    <p>{{ selectedGroup()?.creation_date }}</p>
  }

  <h3>Miembros del grupo</h3>
  <table mat-table [dataSource]="acceptedMembers()" class="mat-shadow-2">
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{ element.username }} </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef> Rol </th>
      <td mat-cell *matCellDef="let element">
        @if (isAdmin()) {
          <mat-form-field appearance="outline">
            <mat-select [value]="element.role" (valueChange)="changeRole(element.user_id, $event)">
              <mat-option value="ADMIN">ADMIN</mat-option>
              <mat-option value="MEMBER">MEMBER</mat-option>
            </mat-select>
          </mat-form-field>
        } @else {
          {{ element.role }}
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="joining_date">
      <th mat-header-cell *matHeaderCellDef> Fecha de unión </th>
      <td mat-cell *matCellDef="let element"> {{ element.joining_date }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        @if (isAdmin()) {
          <button mat-button type="button" (click)="removeMember(element.user_id)">Eliminar</button>
        }
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedAcceptedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedAcceptedColumns;"></tr>
  </table>

  <h3>Solicitudes pendientes</h3>
  <table mat-table [dataSource]="pendingMembers()" class="mat-shadow-2">
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{ element.username }} </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef> Rol </th>
      <td mat-cell *matCellDef="let element"> {{ element.role }} </td>
    </ng-container>

    <ng-container matColumnDef="joining_date">
      <th mat-header-cell *matHeaderCellDef> Fecha de solicitud </th>
      <td mat-cell *matCellDef="let element"> {{ element.joining_date }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        @if (isAdmin()) {
          <button mat-button type="button" (click)="acceptMember(element.user_id)">Aceptar</button>
          <button mat-button type="button" (click)="rejectMember(element.user_id)">Rechazar</button>
          <button mat-button type="button" (click)="removeMember(element.user_id)">Eliminar</button>
        }
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedPendingColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedPendingColumns;"></tr>
  </table>

  <h3>Invitación al grupo</h3>
  <a [routerLink]="joinUrl()">{{joinUrlLong()}}</a>

  @if (qrCodeUrl()) {
    <div>
      <p>Invita a tus amigos y familiares con este QR:</p>
      <img [src]="qrCodeUrl()" [alt]="'QR para unirse al grupo ' + selectedGroupCode()" />
    </div>
  }
}
