*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.button-danger {
  --mat-button-filled-container-color: #b3261e;
  --mat-button-filled-label-text-color: #fff;
  --mat-button-filled-state-layer-color: #fff;
}