*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.button-danger {
  --mat-button-filled-container-color: #b3261e;
  --mat-button-filled-label-text-color: #fff;
  --mat-button-filled-state-layer-color: #fff;
}

.button-danger-outline {
  --mat-button-outlined-outline-color: #b3261e;
  --mat-button-outlined-label-text-color: #b3261e;
  --mat-button-outlined-state-layer-color: #b3261e;
}

.ingredient-dialog {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  overflow: hidden;
}

.ingredient-dialog-content {
  display: flex;
  flex: 1;
  min-width: 0;
  min-height: 0;
}

.ingredient-dialog-close-button {
  margin: 1rem 0 -1rem 0;
  flex-shrink: 0;
}

@media (max-width: 960px) {
  .landing-bullet .mdc-evolution-chip-set__chips {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }

  .landing-bullet .mdc-evolution-chip {
    margin: 0.25rem 0;
  }
}