<h1>Planificador de menús</h1>

<p>Solicita unirte al grupo {{ groupCode() }}</p>

@if (!authService.isAuthenticated()) {
  <p>Debes iniciar sesión para unirte a este grupo.</p>
  <div #googleButton></div>
} @else {
  <button mat-raised-button type="button" (click)="joinGroup()" [disabled]="isLoading()">
    Solicitar unirme al grupo
  </button>
}

<br />

@if (!authService.isAuthenticated()) {
  <a routerLink="/group-onboarding">Crea un nuevo grupo o únete a otro.</a>
} @else {
  <a routerLink="/groups/access">Crea un nuevo grupo o únete a otro.</a>
}
