<section class="ingredient-picker">
  <h3>Buscar ingrediente</h3>

  <mat-form-field>
    <mat-label>Nombre del ingrediente</mat-label>
    <mat-icon matPrefix>search</mat-icon>
    <input matInput [value]="searchText()" (input)="searchIngredients($event)" />
  </mat-form-field>

  <!-- Si se busca por texto desaparecen las categorías (TODO Añadir un endpoint que acepte ambos) -->
  @if (searchText()) {
    <h4>Resultados</h4>

    @if (isLoadingSearchResults()) {
      <p>Cargando...</p>
    } @else if (searchResults().length > 0) {
      <div class="ingredient-picker-result">
        @for (ingredient of searchResults(); track ingredient.id_ingredient) {
          <app-ingredient-picker-result
            [ingredient]="ingredient"
            [selected]="isIngredientSelected(ingredient.id_ingredient)"
            (ingredientAdded)="addIngredient($event)"
          />
        }
      </div>
    } @else {
      <p>No se han encontrado ingredientes.</p>
    }
  } @else {
    <div class="ingredient-picker-category-list">
      @for (category of mainCategories(); track category.id_ingredient_category) {
        <button
          mat-button
          type="button"
          class="ingredient-picker-category"
          [attr.aria-label]="category.name"
          [class.ingredient-picker-category--selected]="
            selectedMainCategory()?.id_ingredient_category === category.id_ingredient_category
          "
          [matTooltip]="category.name"
          (click)="selectMainCategory(category)"
        >
          @if (category.icon) {
            <img [src]="category.icon" [alt]="category.name" width="50" height="50" />
          }
          @if (selectedMainCategory()?.id_ingredient_category === category.id_ingredient_category) {
            <span>{{ category.name }}</span>
          }
        </button>
      }
    </div>

    @if (selectedMainCategory()) {
      <h4>Selecciona una subcategoría</h4>
      <div class="ingredient-picker-category-list" style="margin-bottom: 0.5rem">
        @for (subcategory of subcategories(); track subcategory.id_ingredient_category) {
          <button
            mat-button
            type="button"
            class="ingredient-picker-subcategory"
            [class.ingredient-picker-subcategory--selected]="
              selectedSubcategory()?.id_ingredient_category === subcategory.id_ingredient_category
            "
            (click)="selectSubcategory(subcategory)"
          >
            <!-- @if (subcategory.icon) {
              <img [src]="subcategory.icon" [alt]="subcategory.name" width="25" height="25" />
            } -->
            {{ subcategory.name }}
          </button>
        }
      </div>
    }

    @if (selectedSubcategory()) {
      @if (isLoadingCategoryIngredients()) {
        <p>Cargando...</p>
      } @else if (categoryIngredients().length > 0) {
        <div class="ingredient-picker-result">
          @for (ingredient of categoryIngredients(); track ingredient.id_ingredient) {
            <app-ingredient-picker-result
              [ingredient]="ingredient"
              [selected]="isIngredientSelected(ingredient.id_ingredient)"
              (ingredientAdded)="addIngredient($event)"
            />
          }
        </div>
      } @else {
        <p>No hay ingredientes en esta subcategoría.</p>
      }
    }
  }
</section>
